# preprocessing
    - imputation
        - missing data imputation
        - numerical data imputation
            - mean value is filled in missing places
        - categorical data imputation
            - frequenct (mode) vale is filled in missing places

    - encoding
        - change ur categorical(non numerical data) into numerical data
            - label Encoding
                - if a column has 2 unique categorical values
            - one hot encoding
                - if a column  has more than 2 categorical values
            - vectorization 
                - if you want to convert words to vector(numerical) format

    - scaling / normalization
        - how to make the all the column to same scale so that ML algo can work properly

In [1]:
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [50]:
    os.listdir('dataset')

['sample_data.csv']

In [51]:
os.path.exists('dataset/sample_data.csv')

True

In [52]:
df = pd.read_csv('dataset/sample_data.csv')

In [53]:
df

    country    salary   age happy
0   germany   49000.0  35.0   yes
1     spain   10000.0  30.0    no
2     italy  230000.0  39.0    no
3     spain  200000.0  30.0   yes
4     italy  300000.0  30.0   yes
5     spain   31000.0  23.0    no
6   germany       NaN  34.0   yes
7     spain  400000.0   NaN   yes
8     italy  200000.0  29.0    no
9     italy  340000.0  35.0   yes
10  germany   30000.0  25.0   yes

IMPUTATION

In [54]:
SimpleImputer?

Init signature:
SimpleImputer(
    *,
    missing_values=nan,
    strategy='mean',
    fill_value=None,
    verbose=0,
    copy=True,
    add_indicator=False,
)
Docstring:
Imputation transformer for completing missing values.

Read more in the :ref:`User Guide <impute>`.

.. versionadded:: 0.20
   `SimpleImputer` replaces the previous `sklearn.preprocessing.Imputer`
   estimator which is now removed.

Parameters
----------
missing_values : int, float, str, np.nan or None, default=np.nan
    The placeholder for the missing values. All occurrences of
    `missing_values` will be imputed. For pandas' dataframes with
    nullable integer dtypes with missing values, `missing_values`
    should be set to `np.nan`, since `pd.NA` will be converted to `np.nan`.

strategy : string, default='mean'
    The imputation strategy.

    - If "mean", then replace missing values using the mean along
      each column. Can only be used with numeric data.
    - If "median", then replace missing values using the median along
      each column. Can only be used with numeric data.
    - If "most_frequent", then replace missing using the most frequent
      value along each column. Can be used with strings or numeric data.
      If there is more than one such value, only the smallest is returned.
    - If "constant", then replace missing values with fill_value. Can be
      used with strings or numeric data.

    .. versionadded:: 0.20
       strategy="constant" for fixed value imputation.

fill_value : string or numerical value, default=None
    When strategy == "constant", fill_value is used to replace all
    occurrences of missing_values.
    If left to the default, fill_value will be 0 when imputing numerical
    data and "missing_value" for strings or object data types.

verbose : integer, default=0
    Controls the verbosity of the imputer.

copy : boolean, default=True
    If True, a copy of X will be created. If False, imputation will
    be done in-place whenever possible. Note that, in the following cases,
    a new copy will always be made, even if `copy=False`:

    - If X is not an array of floating values;
    - If X is encoded as a CSR matrix;
    - If add_indicator=True.

add_indicator : boolean, default=False
    If True, a :class:`MissingIndicator` transform will stack onto output
    of the imputer's transform. This allows a predictive estimator
    to account for missingness despite imputation. If a feature has no
    missing values at fit/train time, the feature won't appear on
    the missing indicator even if there are missing values at
    transform/test time.

Attributes
----------
statistics_ : array of shape (n_features,)
    The imputation fill value for each feature.
    Computing statistics can result in `np.nan` values.
    During :meth:`transform`, features corresponding to `np.nan`
    statistics will be discarded.

indicator_ : :class:`~sklearn.impute.MissingIndicator`
    Indicator used to add binary indicators for missing values.
    ``None`` if add_indicator is False.

See Also
--------
IterativeImputer : Multivariate imputation of missing values.

Examples
--------
>>> import numpy as np
>>> from sklearn.impute import SimpleImputer
>>> imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
>>> imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
SimpleImputer()
>>> X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
>>> print(imp_mean.transform(X))
[[ 7.   2.   3. ]
 [ 4.   3.5  6. ]
 [10.   3.5  9. ]]

Notes
-----
Columns which only contained missing values at :meth:`fit` are discarded
upon :meth:`transform` if strategy is not "constant".
File:           ~/.local/lib/python3.9/site-packages/sklearn/impute/_base.py
Type:           type
Subclasses:

In [55]:
imputer = SimpleImputer()

In [56]:
cols= ['salary','age']
df[cols] = imputer.fit_transform(df[cols]).astype(int)

In [57]:
df

    country  salary  age happy
0   germany   49000   35   yes
1     spain   10000   30    no
2     italy  230000   39    no
3     spain  200000   30   yes
4     italy  300000   30   yes
5     spain   31000   23    no
6   germany  179000   34   yes
7     spain  400000   31   yes
8     italy  200000   29    no
9     italy  340000   35   yes
10  germany   30000   25   yes

ENCODING

In [58]:
df.nunique() # we select happy col for label encoding

country     3
salary     10
age         8
happy       2
dtype: int64

In [59]:
hpyEncoder = LabelEncoder()
df['happy'] = hpyEncoder.fit_transform(df['happy'])

In [60]:
df

    country  salary  age  happy
0   germany   49000   35      1
1     spain   10000   30      0
2     italy  230000   39      0
3     spain  200000   30      1
4     italy  300000   30      1
5     spain   31000   23      0
6   germany  179000   34      1
7     spain  400000   31      1
8     italy  200000   29      0
9     italy  340000   35      1
10  germany   30000   25      1

ONE HOT ENCODING

In [61]:
countryHotEnc = OneHotEncoder(drop='first')
country_enc = countryHotEnc.fit_transform(df[['country']]).toarray()      # 2 square bracket otherwise it will take row data

In [62]:
country_enc

array([[0., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 0.]])

In [65]:
hot_enc_countrydf = pd.DataFrame(country_enc,columns=['italy','spain'])

In [66]:
df = pd.concat([hot_enc_countrydf,df],axis=1)

In [67]:
df.drop(columns=['country'],axis=1,inplace=True)

In [68]:
df

    italy  spain  salary  age  happy
0     0.0    0.0   49000   35      1
1     0.0    1.0   10000   30      0
2     1.0    0.0  230000   39      0
3     0.0    1.0  200000   30      1
4     1.0    0.0  300000   30      1
5     0.0    1.0   31000   23      0
6     0.0    0.0  179000   34      1
7     0.0    1.0  400000   31      1
8     1.0    0.0  200000   29      0
9     1.0    0.0  340000   35      1
10    0.0    0.0   30000   25      1

SCALING & NORMALIZATION

In [69]:
cols = df.columns.tolist()[:-1]

In [70]:
cols

['italy', 'spain', 'salary', 'age']

In [71]:
scaling = StandardScaler()
df[cols] = scaling.fit_transform(df[cols])

In [72]:
df

       italy     spain    salary       age  happy
0  -0.755929 -0.755929 -1.009405  0.911147      1
1  -0.755929  1.322876 -1.312226 -0.227787      0
2   1.322876 -0.755929  0.395997  1.822294      0
3  -0.755929  1.322876  0.163058 -0.227787      1
4   1.322876 -0.755929  0.939523 -0.227787      1
5  -0.755929  1.322876 -1.149169 -1.822294      0
6  -0.755929 -0.755929  0.000000  0.683360      1
7  -0.755929  1.322876  1.715988  0.000000      1
8   1.322876 -0.755929  0.163058 -0.455573      0
9   1.322876 -0.755929  1.250109  0.911147      1
10 -0.755929 -0.755929 -1.156933 -1.366720      1

In [1]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
     |████████████████████████████████| 285 kB 3.5 MB/s
Requirement already satisfied: scipy>=1.0 in /usr/lib/python3/dist-packages (from seaborn) (1.6.0)
Requirement already satisfied: matplotlib>=2.2 in /usr/lib/python3/dist-packages (from seaborn) (3.3.4)
Requirement already satisfied: numpy>=1.15 in /usr/lib/python3/dist-packages (from seaborn) (1.19.5)
Requirement already satisfied: pandas>=0.23 in /usr/lib/python3/dist-packages (from seaborn) (1.1.5)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.1
Note: you may need to restart the kernel to use updated packages.